# Folder view configuration files
**/.DS_Store
**/Desktop.ini

# Files that might appear on external disks
**/.Spotlight-V100
**/.Trashes

# IDEA
**/*.iml
**/.idea
node_modules
**/.project

# Vagrant
**/.vagrant

# Java
target

# JS
dist
apis-frontend/build
tdrs-frontend/build
frontend-shared/build
**/.project
**/.classpath
**/.settings
apis-frontend/index.css
tdrs-frontend/index.css

**/OpenOffice.tar.gz

**/_mac

**/package-lock.json

